[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = "*"

[dev-packages]
flake8 = "*"
requests = "*"
mypy = "*"
pytest = "*"
boto3 = "*"
boto3-stubs = "*"
types-requests = "*"
black = "*"
isort = "*"
torch = "*"
torchvision = "*"
types-pillow = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"

[scripts]
format = "bash -c 'black . && isort .'"
test = "bash -c 'mypy . && flake8 .'"
